<div id="center">
    <div class="module">
      <div class="module-content">
        <h1 id="dispNumber">{{_api.resData.phone_number}}</h1>
        <p>{{_api.resData.line_type}}</p>
        <p>{{_api.resData.carrier}}</p>
        <p>{{_api.resData.belongs_to[0].name}}</p>
      </div>
    </div>
    <div class="module premium">
      <div class="module-content">
        
      </div>
    </div>
    <div class="module background">
      <div class="module-content">
        
      </div>
    </div>
    <div class="module phone-stats">
      <div class="module-content">
        
      </div>
    </div>
  </div>