<div id="header">
  <input [(ngModel)]="inputNum">
  <button (click)="onClick()">ClickMe</button>
</div>
<div id="main">
  <div id="center">
    <div class="module">
      <div class="module-content">
        
      </div>
    </div>
    <div class="module premium">
      <div class="module-content">
        
      </div>
    </div>
    <div class="module background">
      <div class="module-content">
        
      </div>
    </div>
    <div class="module phone-stats">
      <div class="module-content">
        
      </div>
    </div>
  </div>
  <div id="similar-numbers">
    
  </div>
</div>
  

<router-outlet></router-outlet>
